### Maven ###
target

### IDEA ###
.idea
!.idea/
.idea/*
!.idea/runConfigurations/
*.iml

### Docker ###
!docker/mongodbs.yml

### Test Config ###
src/main/resources/application-test.yml

### Local profiles ###
*-local.yml
*-local.properties